@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter-100;
    src: url(../src/fonts/static/Inter-Thin.ttf);
}

@font-face {
    font-family: inter-200;
    src: url(../src//fonts/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: inter-300;
    src: url(../src/fonts/static/Inter-Light.ttf);
}

@font-face {
    font-family: inter-400;
    src: url(../src/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: inter-500;
    src: url(../src/fonts/static/Inter-Medium.ttf);
}

@font-face {
    font-family: inter-600;
    src: url(../src/fonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: inter-700;
    src: url(../src/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-800;
    src: url(../src/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-900;
    src: url(../src/fonts/static/Inter-Black.ttf);
}